/*the body beloow has the beckground image covering the entire webpage and no repeate fixed at the center*/

body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
img {
    margin: 0px;
    padding: 0px;
}

body {
    background: url(Pics/BubbleBackground.jpg) no-repeat center fixed;
    background-size: cover;
    font-family: 'Ledger', serif;
}

main {
    margin: auto;
    width: 960px;
    height: 1200px;
}

#outluks {
    font-family: 'lato', sans-serif;
    color: #7c1e08;
    font-size: 50px
}

#hairstudios {
    font-family: 'Dancing Script', cursive;
    color: #0c5406;
    font-size: 45px;
    text-indent: 50px;
}

header {
    padding-top: 50px;
}

#mainlogo {
    width: 260px;
    height: 125px;
}

nav {
    float: right;
    font-size: 20px;
    margin-bottom: 20px;
}

nav a {
    font-family: 'lato', sans-serif;
    margin: 0px 20px;
    color: #7c1e08;
}

#greenpanel {
    background: linear-gradient(rgb(9, 83, 5), rgb(238, 221, 24));
    border-radius: 8px;
}

.carousel-inner {
    box-shadow: 0px 130px 10px -120px #464646;
}

.carousel-inner> .item > img,
.carousel-inner> .item > a >img {
    width: 70%;
    margin: auto;
}

#tagline {
    
    text-align: center;
    background-color: #f9a91d;
    border-radius: 8px;
    margin-top: 40px
}

#tagline h3 {
    display: inline;
    font-size: 40px;
}


.dancingscript {
    font-family: 'Dancing Script', cursive
}

.lato {
    font-family: 'Lato', sans-serif
}

.button {
    background-color: #f9a91d;
    border: 1px solid #7c1e08;
    color: #7c1e08;
    font-size: 20px;
    border-radius: 8px;
    box-shadow: 0 3px black;
}