body {
    background: url(Pics/BubbleBackground.jpg) no-repeat center fixed;
    background-size: cover;
    font-family: 'Ledger', serif;
}

#mainlogo {
    background: url(Pics/Logo.png) no-repeat;
    width: 250px;
    height: 120px;
    }

.container{margin-top: 40px;
}

nav {
    width: 462px;
    background-color: rgba(155, 152, 152, .5);
    border-style: none none solid none;
    border-color: #0c5606 #0c5606 #0c5606 #0c5606;
    margin-top: 60px;
}


nav a {
    font-family: 'lato', sans-serif;
   
    color: #7c1e08;
    text-decoration: none;
}

#greenpanel {
    background: linear-gradient(rgb(9, 83, 5), rgb(238, 221, 24));
    border-radius: 30px;
}

#tagline {
    padding-top: 30px;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    color: #f9a91d;
    font-size: 40px;
}

#level1 {
    margin-top: 40px;
    width: auto;
    display: flex;
    justify-content: center
}

#female {
    margin: 70px 0px 0px 20px;
}

#YB1 {
    margin: 70px 0px 0px -160px;
}

#YB1 td {
    padding-right: 20px;
    padding-left: 50px;
    font-size: 18px;
    font-family: 'Ledger', serif;
}

#T1 {
    
    padding: 0px 0px 0px 0px;
    margin: 20px 0px 200px 100px;
}

/* not sure as to why the  border colors for YB2 and  and YB3 are comming out as straight lines and not a round*/
#YB2 {
    margin: 70px 0px 0px -170px;
    border-radius: 50px;
    background-color: #f9a91d;
    border-radius: 10px;
}

#YB2 td {
    padding: 0px 30px 0px 20px;
    font-family: 'Ledger', serif;
    font-size: 18px;
}

#level2 {
    margin-top: 20px;
    width: auto;
    display: flex;
    justify-content: center;
}

#T2 {
    color: #7c1e08;
    margin: 20px 200px 200px 0px;
}

#YB3 {
    margin: 70px 0px 0px -450px;

    background-color: #f9a91d;
    border-radius: 10px;
    
    
}

#YB3 td {
    padding: 0px 30px 0px 20px;
    font-family: 'Ledger', serif;
    font-size: 18px;
    
}

#T3 {
    color: #7c1e08;
    margin: 20px 0px 200px 200px;
}

#YB4 {
    margin: 70px 0px 0px -240px;
}

#YB4 td {
    padding: 0px 50px 0px 0px;
    font-family: 'Ledger', serif;
    font-size: 18px;
}

#male {
    margin: 60px 0px 0px 10px;
}

.dancingscript {
    font-family: 'Dancing Script', cursive;
    color: white;
    font-size: 40px;
}

.lato {
    font-family: 'Lato', sans-serif;
    color: #470a07;
}

.main p {
    text-align: center;
    padding-top: 50px;
    margin: auto;
    width: 600px;
    height: 200px;
    font-family: 'Ledger', serif;
    font-size: 15px;
}

.button {
    padding: 6px;
    font-family: 'Dancing Script', cursive;
    background-color: #f9a91d;
    border: 1px solid #7c1e08;
    color: #7c1e08;
    font-size: 20px;
    border-radius: 8px;
    box-shadow: 0 2px #57585c;
    margin: 50px auto 40px 375px;
    width: 200px;
    
}

.button:active {
    box-shadow: 0 2px #666;
    transform: translateY(4px);
    vertical-align: middle;
}
