/*the body beloow has the beckground image covering the entire webpage and no repeate fixed at the center*/

body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
img {
    margin: 0px;
    padding: 0px;
}

body {
    background: url(Pics/BubbleBackground.jpg) no-repeat center fixed;
    background-size: cover;
    font-family: 'Ledger', serif;
}

main {
    margin: auto;
    width: 960px;
    height: 812px;
}

#outluks {
    font-family: 'lato', sans-serif;
    color: #7c1e08;
    font-size: 50px
}

#hairstudios {
    font-family: 'Dancing Script', cursive;
    color: #0c5406;
    font-size: 45px;
    text-indent: 50px;
}

#mainlogo {
    margin-left: 20px;
    width: 260px;
    height: 160px;
    float: left;
}

header {
    padding-top: 50px;
}

nav {
    width: 500px;
    float: left;
    background-color: rgba(155, 152, 152, .5);
    border-style: none none solid none;
    border-color: #0c5606 #0c5606 #0c5606 #0c5606;
    margin-left: 50px;
    margin-top: 100px;
}

nav a {
    font-family: 'lato', sans-serif;
    float: center;
    padding-right: 10%;
    color: #7c1e08;
    text-decoration: none;
}

#greenpanel {
    margin-top: 175px;
    background: linear-gradient(rgb(9, 83, 5), rgb(238, 221, 24));
    border-radius: 30px;
}

#tagline {
    padding-top: 30px;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    color: #f9a91d;
    font-size: 40px;
}

#level1 {
    margin-top:40px;
    width: auto;
    display: flex;
    justify-content: center
}

#female {
    margin: 50px 0px 0px 0px;
}

#YB1 {
    margin: 0px 20px;
}

#YB1 th {
    text-align: left;
   
}

#YB1 td {
    padding-right: 70px;
    font-size: 18px;
    font-family: 'Ledger', serif;
}

#YB2 {
    margin: 0px -30px 0px -70px;
}

#YB2 th {
    text-align: center;
}

#YB2 td {
    padding: 0px 55px 0px 10px;
    font-family: 'Ledger', serif;
    
    font-size: 18px;
}
table #test{background-color: #f9a91d;}

#level2 {
    margin-top:50px;
    width: auto;
    display: flex;
    justify-content: center;
}

#YB3 {
    margin: 0px 40px 0px -40px;
}

#YB3 th {
    text-align: center;
}

#YB3 td {
    padding: 0px 120px 0px 15px;
    font-family: 'Ledger', serif;
    background-color: #f9a91d;
    font-size: 18px;
}

#YB4 {
    margin: 0px -10px;
}

#YB4 th {
    text-align: right
}

#YB4 td {
    padding: 0px 30px 0px 0px;
    font-family: 'Ledger', serif;
    font-size: 18px;
}

#male {
    margin: 60px 0px 0px 10px;
}

.dancingscript {
    font-family: 'Dancing Script', cursive;
    color: white;
    font-size: 40px;
}

.lato {
    font-family: 'Lato', sans-serif;
    color: #470a07;
}

.main p {
    text-align: center;
    padding-top: 50px;
    margin: auto;
    width: 600px;
    height: 200px;
    font-family: 'Ledger', serif;
    font-size: 15px;
}

.button {
    font-family: 'Dancing Script', cursive;
    background-color: #f9a91d;
    border: 1px solid #7c1e08;
    color: #7c1e08;
    font-size: 20px;
    border-radius: 8px;
    box-shadow: 0 2px #57585c;
    margin:-400px 400px; 
}

.button:active {
    box-shadow: 0 2px #666;
    transform: translateY(4px);
    vertical-align: middle;
}